ar-lib
aclocal.m4
autom4te.cache
build
config.*
configure
depcomp
install-sh
ltmain.sh
Makefile
Makefile.in
missing
.deps
compile
libtool
m4/
*.libs
*.o
*.lo
*.la
stamp-h1
.deps
*.spec
*.service
*.tar.gz

cscope.*
tags
TAGS
*~
